name: Deploy Docs
permissions:
  contents: read
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install pngquant for image optimization
        run: sudo apt-get update && sudo apt-get install -y pngquant
      - name: Install project
        run: uv sync --frozen --all-extras --all-groups
      - name: Cache mkdocs-material optimize
        uses: actions/cache@v5
        with:
          key: mkdocs-material-optimize-${{ hashFiles('mkdocs.yml') }}
          path: .cache/plugin/optimize
      - name: Build project
        run: uv run hatch build
      - name: Build docs
        run: uv run hatch run docs:build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'site/'
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: gh-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
