name: Docs Check
permissions:
  contents: read
on:
  pull_request:
    branches: [main]
jobs:
  build-docs:
    name: Build Documentation
    env:
      MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install pngquant for image optimization
        run: sudo apt-get update && sudo apt-get install -y pngquant
      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen
      - name: Test MkDocs Build (Strict)
        run: uv run mkdocs build --strict
