name: Publish to PyPI
on:
  release:
    types: [published]
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and Python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --frozen --all-extras --all-groups
      - name: Build package
        run: uv run hatch build
      - name: Test package
        run: uv run hatch test
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
